<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Jail (Debug).xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Jail (Release).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NonJail (Debug).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>NonJail (Release).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Preferences Application.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A5079FB11CC92157005B9693</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5178E7E210B2E8200DB8A15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A534888F1D29030E00911638</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A534889B1D29034A00911638</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A53488C21D29039100911638</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A53C73901D5122A200D8C7AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A562F80F1D2448400010CC31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A576D17E1DC621B90039884F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5B6ECDE1D3D656700383425</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5B6ED051D3D659800383425</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5D56A561E70427300A8FFB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5D772FB1D55F8A40043EEE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5D979AB1DAEBB0E00607F06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
