<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>label</key>
			<string>BLACK_THEME</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>BLACK_THEME_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>enabledBlackTheme</string>
			<key>label</key>
			<string>ENABLE_BLACK_THEME</string>
			<key>id</key>
			<string>enabledBlackTheme</string>
		</dict>
		<dict>
			<key>label</key>
			<string>NAVIGATION_BAR</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>enabledBarColor</string>
			<key>label</key>
			<string>CHANGE_COLORS</string>
			<key>icon</key>
			<string>NavBarIcon.png</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>FOREGROUND_COLOR</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>BarForegroundColor</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>BACKGROUND_COLOR</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>BarBackgroundColor</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>ColoredVKImageCell</string>
			<key>action</key>
			<string>chooseImage:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>ENABLED_IMAGE</string>
			<key>id</key>
			<string>barImage</string>
		</dict>
		<dict>
			<key>label</key>
			<string>TOOLBAR</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>enabledToolBarColor</string>
			<key>label</key>
			<string>CHANGE_COLORS</string>
			<key>icon</key>
			<string>ToolBarIcon.png</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>FOREGROUND_COLOR</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>ToolBarForegroundColor</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>BACKGROUND_COLOR</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>ToolBarBackgroundColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>MENU_BACKGROUND</string>
			<key>footerText</key>
			<string>USE_BLUR_WARNING</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>ColoredVKImageCell</string>
			<key>action</key>
			<string>chooseImage:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>CHANGE_BACKGROUND</string>
			<key>id</key>
			<string>menuBackgroundImage</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>label</key>
			<string>IMAGE_BLACKOUT</string>
			<key>cellClass</key>
			<string>ColoredVKStepperPrefsCell</string>
			<key>id</key>
			<string>menuImageBlackout</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>menuBlurEnabled</string>
			<key>label</key>
			<string>USE_BLUR</string>
			<key>id</key>
			<string>useBlur</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>SEPARATOR_COLOR</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>MenuSeparatorColor</string>
		</dict>
		<dict>
			<key>id</key>
			<string>hideSeparators</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>hideSeparators</string>
			<key>label</key>
			<string>HIDE_SEPARATORS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>MESSAGES_BACKGROUND</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>ColoredVKImageCell</string>
			<key>action</key>
			<string>chooseImage:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>CHANGE_BACKGROUND</string>
			<key>id</key>
			<string>messagesBackgroundImage</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>label</key>
			<string>IMAGE_BLACKOUT</string>
			<key>cellClass</key>
			<string>ColoredVKStepperPrefsCell</string>
			<key>id</key>
			<string>chatImageBlackout</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>STATUS_BAR_COLORS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>changeSBColors</string>
			<key>label</key>
			<string>CHANGE_COLORS</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>FOREGROUND_COLOR</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>SBForegroundColor</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>BACKGROUND_COLOR</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>SBBackgroundColor</string>
		</dict>
		<dict>
			<key>label</key>
			<string>OTHER</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>enabledBlackKB</string>
			<key>label</key>
			<string>BLACK_KB</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>showBar</string>
			<key>label</key>
			<string>SHOW_BAR</string>
		</dict>
		<dict>
			<key>label</key>
			<string>DEVELOPER_IN_VK</string>
			<key>icon</key>
			<string>VK_logo.png</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>action</key>
			<string>openProfie</string>
			<key>cellClass</key>
			<string>ColoredVKLinkCell</string>
			<key>id</key>
			<string>developerLink</string>
		</dict>
	</array>
	<key>title</key>
	<string>ColoredVK</string>
</dict>
</plist>
