<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>ColoredVKHeader</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>ENABLED</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>label</key>
			<string>SETTINGS</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKPrefs</string>
			<key>icon</key>
			<string>settings.png</string>
			<key>id</key>
			<string>prefsLink</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>checkUpdates</string>
			<key>label</key>
			<string>CHECK_UPDATES</string>
			<key>icon</key>
			<string>updatesIcon.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>label</key>
			<string>DEVELOPER_IN_VK</string>
			<key>icon</key>
			<string>VK_logo.png</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>action</key>
			<string>openProfie</string>
			<key>cellClass</key>
			<string>ColoredVKLinkCell</string>
			<key>id</key>
			<string>developerLink</string>
		</dict>
		<dict>
			<key>label</key>
			<string>LICENCES</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKLicencesController</string>
		</dict>
	</array>
</dict>
</plist>
