<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>enabled</string>
			<key>id</key>
			<string>enableTweakSwitch</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>icon</key>
			<string>prefs/PowerIcon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKGeneralPrefs</string>
			<key>plistToLoad</key>
			<string>NavToolBar</string>
			<key>id</key>
			<string>navToolBarPrefsLink</string>
			<key>label</key>
			<string>NAVIGATION_TOOL_BAR</string>
			<key>icon</key>
			<string>prefs/BarsIcon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKGeneralPrefs</string>
			<key>plistToLoad</key>
			<string>Menu</string>
			<key>id</key>
			<string>menuPrefsLink</string>
			<key>label</key>
			<string>MENU</string>
			<key>icon</key>
			<string>prefs/MenuIcon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKGeneralPrefs</string>
			<key>plistToLoad</key>
			<string>Messages</string>
			<key>id</key>
			<string>messagesPrefsLink</string>
			<key>label</key>
			<string>MESSAGES</string>
			<key>icon</key>
			<string>prefs/DialogsIcon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKGeneralPrefs</string>
			<key>plistToLoad</key>
			<string>Dialogs</string>
			<key>label</key>
			<string>DIALOGS</string>
			<key>icon</key>
			<string>prefs/MessagesIcon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKGeneralPrefs</string>
			<key>plistToLoad</key>
			<string>Friends</string>
			<key>label</key>
			<string>FRIENDS</string>
			<key>icon</key>
			<string>prefs/FriendsIcon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKGeneralPrefs</string>
			<key>plistToLoad</key>
			<string>Groups</string>
			<key>label</key>
			<string>GROUPS</string>
			<key>icon</key>
			<string>prefs/GroupsIcon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKGeneralPrefs</string>
			<key>plistToLoad</key>
			<string>Videos</string>
			<key>label</key>
			<string>VIDEOS</string>
			<key>icon</key>
			<string>prefs/VideosIcon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKMusicPrefs</string>
			<key>plistToLoad</key>
			<string>Audio</string>
			<key>label</key>
			<string>AUDIO</string>
			<key>icon</key>
			<string>prefs/AudioIcon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKGeneralPrefs</string>
			<key>plistToLoad</key>
			<string>Settings</string>
			<key>label</key>
			<string>SETTINGS</string>
			<key>icon</key>
			<string>prefs/SettingsIconAlt</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKGeneralPrefs</string>
			<key>plistToLoad</key>
			<string>Misc</string>
			<key>label</key>
			<string>MISCELLANEOUS</string>
			<key>icon</key>
			<string>prefs/MoreIcon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKThemePrefsController</string>
			<key>id</key>
			<string>nightThemeLink</string>
			<key>label</key>
			<string>NIGHT_THEME</string>
			<key>icon</key>
			<string>prefs/MoonIcon</string>
			<key>default</key>
			<integer>-1</integer>
			<key>key</key>
			<string>nightThemeType</string>
			<key>validTitles</key>
			<array>
				<string>DISABLED</string>
				<string>NIGHT_BLUE</string>
				<string>DARK_NIGHT</string>
				<string>TRUE_NIGHT</string>
				<string>CUSTOM</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>-1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>3</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKPrefs</string>
			<key>plistToLoad</key>
			<string>TweakPrefs</string>
			<key>id</key>
			<string>tweakPrefsLink</string>
			<key>label</key>
			<string>TWEAK_PREFERENCES</string>
			<key>icon</key>
			<string>prefs/SettingsIcon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKGeneralPrefs</string>
			<key>plistToLoad</key>
			<string>ManageSettings</string>
			<key>label</key>
			<string>MANAGE_SETTINGS</string>
			<key>icon</key>
			<string>prefs/RestoreIcon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>plistToLoad</key>
			<string>ManageAccount</string>
			<key>label</key>
			<string>MANAGE_ACCOUNT</string>
			<key>icon</key>
			<string>prefs/infoCardIcon</string>
			<key>id</key>
			<string>manageAccount</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>action</key>
			<string>actionOpenFaq</string>
			<key>id</key>
			<string>faqLink</string>
			<key>label</key>
			<string>FAQ</string>
			<key>icon</key>
			<string>prefs/FaqIcon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKAboutController</string>
			<key>plistToLoad</key>
			<string>About</string>
			<key>id</key>
			<string>aboutPrefsLink</string>
			<key>label</key>
			<string>ABOUT</string>
			<key>icon</key>
			<string>prefs/AboutIcon</string>
		</dict>
	</array>
</dict>
</plist>
