<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>enabled</string>
			<key>id</key>
			<string>enabled</string>
			<key>label</key>
			<string>ENABLED</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKPrefs</string>
			<key>plistToLoad</key>
			<string>NavToolBar</string>
			<key>label</key>
			<string>NAVIGATION_TOOL_BAR</string>
			<key>icon</key>
			<string>BarsIcon.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKPrefs</string>
			<key>plistToLoad</key>
			<string>Menu</string>
			<key>label</key>
			<string>MENU</string>
			<key>icon</key>
			<string>MenuIcon.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKPrefs</string>
			<key>plistToLoad</key>
			<string>Messages</string>
			<key>label</key>
			<string>MESSAGES</string>
			<key>icon</key>
			<string>MessagesIcon.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKPrefs</string>
			<key>plistToLoad</key>
			<string>Groups</string>
			<key>label</key>
			<string>GROUPS</string>
			<key>icon</key>
			<string>GroupsIcon.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKPrefs</string>
			<key>plistToLoad</key>
			<string>Audio</string>
			<key>label</key>
			<string>AUDIO</string>
			<key>icon</key>
			<string>AudioIcon.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKPrefs</string>
			<key>plistToLoad</key>
			<string>Misc</string>
			<key>label</key>
			<string>MISCELLANEOUS</string>
			<key>icon</key>
			<string>ListIcon.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>RESET_SETTINGS</string>
			<key>action</key>
			<string>resetSettings</string>
			<key>textColor</key>
			<string>1,0,0,1</string>
			<key>shouldCenter</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKPrefs</string>
			<key>plistToLoad</key>
			<string>About</string>
			<key>label</key>
			<string>ABOUT</string>
			<key>icon</key>
			<string>AboutIcon.png</string>
		</dict>
	</array>
</dict>
</plist>
