<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKPrefs</string>
			<key>plistToLoad</key>
			<string>NavToolBar</string>
			<key>label</key>
			<string>Navigaton bar &amp; tool bar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKPrefs</string>
			<key>plistToLoad</key>
			<string>Menu</string>
			<key>label</key>
			<string>Menu</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKPrefs</string>
			<key>plistToLoad</key>
			<string>Messages</string>
			<key>label</key>
			<string>Messages</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKPrefs</string>
			<key>plistToLoad</key>
			<string>Misc</string>
			<key>label</key>
			<string>Miscellaneous</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>resetSettings</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>RESET_SETTINGS</string>
			<key>textColor</key>
			<string>1.0, 0.0, 0.0, 1.0</string>
			<key>shouldCenter</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
