<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>label</key>
			<string>DEVELOPER_IN_VK</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>AuthorIcon</string>
			<key>action</key>
			<string>openDeveloperProfile</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Огромное спасибо этим людям за помощь в тестировании и разработке твика! [■ツ■]</string>
			<key>footerText</key>
			<string>А так же спасибо всем тем, кто пользуется твиком и предлагает новые идеи! </string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Максим Гончарук</string>
			<key>id</key>
			<string>testerCell</string>
			<key>url</key>
			<string>id93264161</string>
			<key>icon</key>
			<string>honcharuk_makc</string>
			<key>action</key>
			<string>openTesterProfile:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Дмитро Гуменюк</string>
			<key>id</key>
			<string>testerCell</string>
			<key>url</key>
			<string>id125879328</string>
			<key>icon</key>
			<string>md.furman</string>
			<key>action</key>
			<string>openTesterProfile:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Андрей Кот</string>
			<key>id</key>
			<string>testerCell</string>
			<key>url</key>
			<string>id73369298</string>
			<key>icon</key>
			<string>big_catz</string>
			<key>action</key>
			<string>openTesterProfile:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Error Network</string>
			<key>id</key>
			<string>testerCell</string>
			<key>url</key>
			<string>id283990174</string>
			<key>action</key>
			<string>openTesterProfile:</string>
			<key>icon</key>
			<string>errornetwork</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>label</key>
			<string>USED_LIBRARIES</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>showTextController:</string>
			<key>icon</key>
			<string>CopyrightIcon.png</string>
			<key>fileName</key>
			<string>Libraries</string>
		</dict>
		<dict>
			<key>label</key>
			<string>PRIVACY_STATEMENT</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>showTextController:</string>
			<key>fileName</key>
			<string>Confidence</string>
			<key>icon</key>
			<string>PrivacyIcon</string>
			<key>localized</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
