<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKPrefs</string>
			<key>plistToLoad</key>
			<string>ColoredVKUpdates</string>
			<key>icon</key>
			<string>UpdatesIcon.png</string>
			<key>label</key>
			<string>UPDATES_SETTINGS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>label</key>
			<string>DEVELOPER_IN_VK</string>
			<key>icon</key>
			<string>AuthorIcon</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>action</key>
			<string>openProfie</string>
			<key>textColor</key>
			<string>0.35, 0.5, 0.7, 1.0</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>label</key>
			<string>LICENCES</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKLicencesController</string>
			<key>icon</key>
			<string>CopyrightIcon.png</string>
		</dict>
	</array>
</dict>
</plist>
