<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>label</key>
			<string>DEVELOPER_IN_VK</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>AuthorIcon</string>
			<key>action</key>
			<string>openDeveloperProfile</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Тут был раздел с благодарностями, но благодаря некоторым полязователям теперь он удалён :(</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>label</key>
			<string>USED_LIBRARIES</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>showTextController:</string>
			<key>icon</key>
			<string>CopyrightIcon.png</string>
			<key>fileName</key>
			<string>Libraries</string>
		</dict>
		<dict>
			<key>label</key>
			<string>PRIVACY_STATEMENT</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>showTextController:</string>
			<key>fileName</key>
			<string>Confidence</string>
			<key>icon</key>
			<string>PrivacyIcon</string>
			<key>localized</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
