<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ImagesDLInfo</key>
	<array>
		<dict>
			<key>title</key>
			<string>NAVIGATION_BAR</string>
			<key>identifier</key>
			<string>barImage</string>
			<key>icon</key>
			<string>TopBarSelectedIcon.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>MENU</string>
			<key>identifier</key>
			<string>menuBackgroundImage</string>
			<key>icon</key>
			<string>MenuIcon.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>MESSAGES</string>
			<key>identifier</key>
			<string>messagesBackgroundImage</string>
			<key>icon</key>
			<string>DialogsIcon.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>MESSAGES_LIST</string>
			<key>identifier</key>
			<string>messagesListBackgroundImage</string>
			<key>icon</key>
			<string>MessagesIcon.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>FRIENDS</string>
			<key>identifier</key>
			<string>friendsBackgroundImage</string>
			<key>icon</key>
			<string>FriendsIcon.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>GROUPS</string>
			<key>identifier</key>
			<string>groupsListBackgroundImage</string>
			<key>icon</key>
			<string>GroupsIcon.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>VIDEOS</string>
			<key>identifier</key>
			<string>videosBackgroundImage</string>
			<key>icon</key>
			<string>VideosIcon.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>AUDIO</string>
			<key>identifier</key>
			<string>audioBackgroundImage</string>
			<key>icon</key>
			<string>AudioIcon.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>MAIN_SETTINGS</string>
			<key>identifier</key>
			<string>settingsBackgroundImage</string>
			<key>icon</key>
			<string>SettingsIconAlt</string>
		</dict>
		<dict>
			<key>title</key>
			<string>ADVANCED_SETTINGS</string>
			<key>identifier</key>
			<string>settingsExtraBackgroundImage</string>
			<key>icon</key>
			<string>SettingsIconAlt</string>
		</dict>
	</array>
</dict>
</plist>
