<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ImagesDLInfo</key>
	<array>
		<dict>
			<key>title</key>
			<string>MENU</string>
			<key>identifier</key>
			<string>menuBackgroundImage</string>
		</dict>
		<dict>
			<key>title</key>
			<string>MESSAGES</string>
			<key>identifier</key>
			<string>messagesBackgroundImage</string>
		</dict>
		<dict>
			<key>title</key>
			<string>MESSAGES_LIST</string>
			<key>identifier</key>
			<string>messagesListBackgroundImage</string>
		</dict>
		<dict>
			<key>title</key>
			<string>GROUPS</string>
			<key>identifier</key>
			<string>groupsListBackgroundImage</string>
		</dict>
		<dict>
			<key>title</key>
			<string>AUDIO</string>
			<key>identifier</key>
			<string>audioBackgroundImage</string>
		</dict>
		<dict>
			<key>title</key>
			<string>NAVIGATION_BAR</string>
			<key>identifier</key>
			<string>barImage</string>
		</dict>
	</array>
</dict>
</plist>
