<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>AUDIO</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>ColoredVKImageCell</string>
			<key>action</key>
			<string>chooseImage:</string>
			<key>label</key>
			<string>CHANGE_BACKGROUND</string>
			<key>id</key>
			<string>audioBackgroundImage</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>label</key>
			<string>IMAGE_BLACKOUT</string>
			<key>cellClass</key>
			<string>ColoredVKStepperPrefsCell</string>
			<key>id</key>
			<string>audioImageBlackout</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>CHANGE_TEXT_COLOR</string>
			<key>key</key>
			<string>changeAudiosTextColor</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>TEXT_COLOR</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>audiosTextColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKBlurPrefsController</string>
			<key>prefix</key>
			<string>audios</string>
			<key>label</key>
			<string>BLUR_SETTINGS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>USE_PARALLAX</string>
			<key>key</key>
			<string>useAudioParallax</string>
			<key>id</key>
			<string>useAudioParallax</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>hideAudiosSeparators</string>
			<key>label</key>
			<string>HIDE_SEPARATORS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>AUDIO_PLAYER</string>
			<key>footerText</key>
			<string>NEW_PLAYER_DESIGN_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>changeAudioPlayerAppearance</string>
			<key>label</key>
			<string>NEW_DESIGN</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>PLAYER_GESTURES_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>enablePlayerGestures</string>
			<key>label</key>
			<string>ENABLE_PLAYER_GESTURES</string>
			<key>default</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>CUSTOM_COVER_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>ColoredVKImageCell</string>
			<key>action</key>
			<string>chooseImage:</string>
			<key>label</key>
			<string>CUSTOM_COVER</string>
			<key>id</key>
			<string>audioCoverImage</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>CACHE_COVERS_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>cacheAudioCovers</string>
			<key>label</key>
			<string>CACHE_COVERS</string>
			<key>default</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>CACHE_SIZE</string>
			<key>get</key>
			<string>cacheSize</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>CLEAR_CACHE</string>
			<key>action</key>
			<string>clearCoversCache</string>
			<key>style</key>
			<string>Destructive</string>
			<key>shouldCenter</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
