<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>UseBlur</string>
			<key>label</key>
			<string>USE_BLUR</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BLUR_STYLE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>key</key>
			<string>BlurStyle</string>
			<key>default</key>
			<string>1</string>
			<key>validTitles</key>
			<array>
				<string>LIGHT</string>
				<string>DARK</string>
			</array>
			<key>validValues</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>BACKGROUND_TONE</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>BlurBackgroundTone</string>
		</dict>
	</array>
</dict>
</plist>
