<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGiantIconCell</string>
			<key>id</key>
			<string>loginCell</string>
			<key>icon</key>
			<string>UserBigIcon.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>NO_ACCOUNT_QUESTION</string>
			<key>id</key>
			<string>registerGroup</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>REGISTER</string>
			<key>action</key>
			<string>actionRegister</string>
			<key>id</key>
			<string>registerButton</string>
			<key>icon</key>
			<string>RegisterIcon.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ACCOUNT_STATUS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>ACCOUNT_PAID</string>
			<key>id</key>
			<string>accountPaid</string>
			<key>get</key>
			<string>accountPaymentStatus</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>ACCOUNT_ACTIVATED</string>
			<key>id</key>
			<string>accountActivated</string>
			<key>get</key>
			<string>accountActivationStatus</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>ACCOUNT_STATUS_FOOTER</string>
			<key>id</key>
			<string>accountActivationFooter</string>
		</dict>
	</array>
</dict>
</plist>
