<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>MESSAGES</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>ColoredVKImagePrefsCell</string>
			<key>action</key>
			<string>chooseImage:</string>
			<key>label</key>
			<string>CHANGE_BACKGROUND</string>
			<key>id</key>
			<string>messagesBackgroundImage</string>
			<key>icon</key>
			<string>prefs/PhotosIcon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>label</key>
			<string>IMAGE_BLACKOUT</string>
			<key>cellClass</key>
			<string>ColoredVKStepperPrefsCell</string>
			<key>key</key>
			<string>chatImageBlackout</string>
			<key>minValue</key>
			<string>0</string>
			<key>maxValue</key>
			<string>0.6</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>CHANGE_MESSAGES_TEXT_COLOR_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>CHANGE_TEXT_COLOR</string>
			<key>key</key>
			<string>changeMessagesTextColor</string>
			<key>id</key>
			<string>changeMessagesTextColor</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>TEXT_COLOR</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>messagesTextColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKBlurPrefsController</string>
			<key>prefix</key>
			<string>messages</string>
			<key>label</key>
			<string>BLUR_SETTINGS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>ColoredVKSwitchPrefsCell</string>
			<key>label</key>
			<string>USE_PARALLAX</string>
			<key>key</key>
			<string>useMessagesParallax</string>
			<key>id</key>
			<string>useMessagesParallax</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>HIDE_MESSAGE_NAV_BAR_ITEMS_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>ColoredVKSwitchPrefsCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>hideMessagesNavBarItems</string>
			<key>label</key>
			<string>HIDE_MESSAGE_NAV_BAR_ITEMS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>MESSAGE_BUBBLE_COLOR_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>ColoredVKSwitchPrefsCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>useMessageBubbleTintColor</string>
			<key>label</key>
			<string>CHANGE_MESSAGE_BUBBLE_TINT_COLOR</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>MESSAGE_BUBBLE_TINT_COLOR</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>messageBubbleTintColor</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>MESSAGE_SENT_BUBBLE_TINT_COLOR</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>messageBubbleSentTintColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>ColoredVKSwitchPrefsCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>useCustomMessageReadColor</string>
			<key>id</key>
			<string>useCustomMessageReadColor</string>
			<key>label</key>
			<string>USE_CUSTOM_MESSAGE_UNREAD_COLOR</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>FOREGROUND_COLOR</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>messageReadColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>TEXT_INPUT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>ColoredVKSwitchPrefsCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>changeMessagesInput</string>
			<key>id</key>
			<string>changeMessagesInput</string>
			<key>label</key>
			<string>CHANGE</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>TEXT_COLOR</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>messagesInputTextColor</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>BACKGROUND_COLOR</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>messagesInputBackColor</string>
		</dict>
	</array>
</dict>
</plist>
