<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>MESSAGES</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>ColoredVKImageCell</string>
			<key>action</key>
			<string>chooseImage:</string>
			<key>label</key>
			<string>CHANGE_BACKGROUND</string>
			<key>id</key>
			<string>messagesBackgroundImage</string>
			<key>textColor</key>
			<string>0.35, 0.5, 0.7, 1.0</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>label</key>
			<string>IMAGE_BLACKOUT</string>
			<key>cellClass</key>
			<string>ColoredVKStepperPrefsCell</string>
			<key>id</key>
			<string>chatImageBlackout</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>CHANGE_TEXT_COLOR</string>
			<key>key</key>
			<string>changeMessagesTextColor</string>
			<key>id</key>
			<string>changeMessagesTextColor</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>TEXT_COLOR</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>messagesTextColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>useMessagesBlur</string>
			<key>label</key>
			<string>USE_BLUR</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>USE_PARALLAX</string>
			<key>key</key>
			<string>useMessagesParallax</string>
			<key>id</key>
			<string>useMessagesParallax</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>hideMessagesNavBarItems</string>
			<key>label</key>
			<string>HIDE_NAV_BAR_ITEMS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>ONLY_WORK_ON_VKAPP_2.9</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>useMessageBubbleTintColor</string>
			<key>label</key>
			<string>CHANGE_MESSAGE_BUBBLE_TINT_COLOR</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>MESSAGE_BUBBLE_TINT_COLOR</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>messageBubbleTintColor</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>MESSAGE_SENT_BUBBLE_TINT_COLOR</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>messageBubbleSentTintColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>useCustomMessageReadColor</string>
			<key>label</key>
			<string>USE_CUSTOM_MESSAGE_UNREAD_COLOR</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>FOREGROUND_COLOR</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>messageReadColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>MESSAGES_LIST</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>ColoredVKImageCell</string>
			<key>action</key>
			<string>chooseImage:</string>
			<key>label</key>
			<string>CHANGE_BACKGROUND</string>
			<key>id</key>
			<string>messagesListBackgroundImage</string>
			<key>textColor</key>
			<string>0.35, 0.5, 0.7, 1.0</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>label</key>
			<string>IMAGE_BLACKOUT</string>
			<key>cellClass</key>
			<string>ColoredVKStepperPrefsCell</string>
			<key>id</key>
			<string>chatListImageBlackout</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>CHANGE_TEXT_COLOR</string>
			<key>key</key>
			<string>changeMessagesListTextColor</string>
			<key>id</key>
			<string>changeMessagesListTextColor</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>TEXT_COLOR</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>messagesListTextColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>useMessagesListBlur</string>
			<key>label</key>
			<string>USE_BLUR</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>USE_PARALLAX</string>
			<key>key</key>
			<string>useMessagesListParallax</string>
			<key>id</key>
			<string>useMessagesListParallax</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>hideMessagesListSeparators</string>
			<key>label</key>
			<string>HIDE_SEPARATORS</string>
		</dict>
	</array>
	<key>title</key>
	<string>Messages</string>
</dict>
</plist>
