<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>ColoredVKSwitchPrefsCell</string>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>showCommentSeparators</string>
			<key>label</key>
			<string>COMMENT_SEPARATORS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>STATUS_BAR</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>changeSBColors</string>
			<key>label</key>
			<string>CHANGE_COLORS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>TEXT_COLOR</string>
			<key>id</key>
			<string>SBForegroundColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>BACKGROUND_COLOR</string>
			<key>id</key>
			<string>SBBackgroundColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SWITCH_COLORS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>ColoredVKSwitchPrefsCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>changeSwitchColor</string>
			<key>id</key>
			<string>changeSwitchColor</string>
			<key>label</key>
			<string>CHANGE_COLORS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>FOREGROUND_COLOR</string>
			<key>id</key>
			<string>switchesOnTintColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>BACKGROUND_COLOR</string>
			<key>id</key>
			<string>switchesTintColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>KEYBOARD_STYLE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>key</key>
			<string>keyboardStyle</string>
			<key>default</key>
			<integer>0</integer>
			<key>validTitles</key>
			<array>
				<string>DEFAULT</string>
				<string>LIGHT</string>
				<string>DARK</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>2</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>cellClass</key>
			<string>ColoredVKStepperPrefsCell</string>
			<key>label</key>
			<string>APP_CORNER_RADIUS</string>
			<key>key</key>
			<string>appCornerRadius</string>
			<key>minValue</key>
			<integer>0</integer>
			<key>maxValue</key>
			<integer>40</integer>
			<key>step</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
