<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>showBar</string>
			<key>label</key>
			<string>ALWAYS_SHOW_NAVIGATION_BAR</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>hideCommentSeparators</string>
			<key>label</key>
			<string>HIDE_COMMENT_SEPARATORS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>STATUS_BAR_COLORS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>changeSBColors</string>
			<key>label</key>
			<string>CHANGE_COLORS</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>TEXT_COLOR</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>SBForegroundColor</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>BACKGROUND_COLOR</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>SBBackgroundColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SWITCH_COLORS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>changeSwitchColor</string>
			<key>id</key>
			<string>changeSwitchColor</string>
			<key>label</key>
			<string>CHANGE_COLORS</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>FOREGROUND_COLOR</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>switchesOnTintColor</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>BACKGROUND_COLOR</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>switchesTintColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>KEYBOARD_STYLE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>key</key>
			<string>keyboardStyle</string>
			<key>default</key>
			<string>0</string>
			<key>validTitles</key>
			<array>
				<string>DEFAULT</string>
				<string>DARK</string>
				<string>LIGHT</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
		</dict>
	</array>
	<key>title</key>
	<string>Settings</string>
</dict>
</plist>
