<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>label</key>
			<string>NAVIGATION_BAR</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>enabledBarColor</string>
			<key>label</key>
			<string>CHANGE_COLORS</string>
			<key>icon</key>
			<string>TopBarSelectedIcon.png</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>FOREGROUND_COLOR</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>BarForegroundColor</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>BACKGROUND_COLOR</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>BarBackgroundColor</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>ColoredVKImageCell</string>
			<key>action</key>
			<string>chooseImage:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>ENABLED_IMAGE</string>
			<key>id</key>
			<string>barImage</string>
			<key>textColor</key>
			<string>0.35, 0.5, 0.7, 1.0</string>
		</dict>
		<dict>
			<key>label</key>
			<string>TOOLBAR</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>enabledToolBarColor</string>
			<key>label</key>
			<string>CHANGE_COLORS</string>
			<key>icon</key>
			<string>BottomBarSelectedIcon.png</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>FOREGROUND_COLOR</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>ToolBarForegroundColor</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>BACKGROUND_COLOR</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>ToolBarBackgroundColor</string>
		</dict>
	</array>
	<key>title</key>
	<string>Nav bar &amp; tool bar</string>
</dict>
</plist>
