<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SETTINGS_MAIN_MENU</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>ColoredVKImagePrefsCell</string>
			<key>action</key>
			<string>chooseImage:</string>
			<key>label</key>
			<string>CHANGE_BACKGROUND</string>
			<key>id</key>
			<string>settingsBackgroundImage</string>
			<key>icon</key>
			<string>prefs/PhotosIcon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>label</key>
			<string>IMAGE_BLACKOUT</string>
			<key>cellClass</key>
			<string>ColoredVKStepperPrefsCell</string>
			<key>key</key>
			<string>settingsImageBlackout</string>
			<key>minValue</key>
			<string>0</string>
			<key>maxValue</key>
			<string>0.6</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>CHANGE_TEXT_COLOR</string>
			<key>key</key>
			<string>changeSettingsTextColor</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>TEXT_COLOR</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>settingsTextColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKBlurPrefsController</string>
			<key>prefix</key>
			<string>settings</string>
			<key>label</key>
			<string>BLUR_SETTINGS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>ColoredVKSwitchPrefsCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>hideSettingsSeparators</string>
			<key>label</key>
			<string>HIDE_SEPARATORS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>ColoredVKSwitchPrefsCell</string>
			<key>label</key>
			<string>USE_PARALLAX</string>
			<key>key</key>
			<string>useSettingsParallax</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SETTINGS_ADVANCED_MENU</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>ColoredVKImagePrefsCell</string>
			<key>action</key>
			<string>chooseImage:</string>
			<key>label</key>
			<string>CHANGE_BACKGROUND</string>
			<key>id</key>
			<string>settingsExtraBackgroundImage</string>
			<key>icon</key>
			<string>prefs/PhotosIcon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>label</key>
			<string>IMAGE_BLACKOUT</string>
			<key>cellClass</key>
			<string>ColoredVKStepperPrefsCell</string>
			<key>key</key>
			<string>settingsExtraImageBlackout</string>
			<key>minValue</key>
			<string>0</string>
			<key>maxValue</key>
			<string>0.6</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>ColoredVKSwitchPrefsCell</string>
			<key>label</key>
			<string>CHANGE_TEXT_COLOR</string>
			<key>key</key>
			<string>changeSettingsExtraTextColor</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>TEXT_COLOR</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>settingsExtraTextColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKBlurPrefsController</string>
			<key>prefix</key>
			<string>settingsExtra</string>
			<key>label</key>
			<string>BLUR_SETTINGS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>ColoredVKSwitchPrefsCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>hideSettingsExtraSeparators</string>
			<key>label</key>
			<string>HIDE_SEPARATORS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>ColoredVKSwitchPrefsCell</string>
			<key>label</key>
			<string>USE_PARALLAX</string>
			<key>key</key>
			<string>useSettingsExtraParallax</string>
			<key>default</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
