<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>VIDEOS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>ColoredVKImageCell</string>
			<key>action</key>
			<string>chooseImage:</string>
			<key>label</key>
			<string>CHANGE_BACKGROUND</string>
			<key>id</key>
			<string>videosBackgroundImage</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>label</key>
			<string>IMAGE_BLACKOUT</string>
			<key>cellClass</key>
			<string>ColoredVKStepperPrefsCell</string>
			<key>id</key>
			<string>videosImageBlackout</string>
			<key>minValue</key>
			<string>0</string>
			<key>maxValue</key>
			<string>0.6</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>CHANGE_TEXT_COLOR</string>
			<key>key</key>
			<string>changeVideosTextColor</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>TEXT_COLOR</string>
			<key>cellClass</key>
			<string>ColoredVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>videosTextColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKBlurPrefsController</string>
			<key>prefix</key>
			<string>videos</string>
			<key>label</key>
			<string>BLUR_SETTINGS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>USE_PARALLAX</string>
			<key>key</key>
			<string>useVideosParallax</string>
			<key>default</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
