Package: com.daniilpashin.coloredvk2
Name: ColoredVK 2
Version: 3.2.0.2
Description: Customize your VK App!
Section: Tweaks
Depends: firmware (>= 8.0), preferenceloader
Architecture: iphoneos-arm
Author: Daniil Pashin <daniilpashin@icloud.com>
Maintainer: Daniil Pashin <daniilpashin@icloud.com>
Replaces: com.daniilpashin.coloredvk
Icon: file:///Library/PreferenceBundles/ColoredVK2.bundle/Icon-big.png
