Package: com.daniilpashin.coloredvk2
Name: ColoredVK 2
Version: 3.1.2
Description: Colorize your VK App!
Section: Tweaks
Depends: firmware (>= 8.0), preferenceloader
Architecture: iphoneos-arm
Author: Daniil Pashin
Maintainer: Daniil Pashin
Replaces: com.daniilpashin.coloredvk
